*

!.gitignore

# Sophisticated Backpacks & Storage (Server)
!sophisticatedbackpacks-1.21.1-3.24.21.1314.jar
!sophisticatedcore-1.21.1-1.3.64.1090.jar
!sophisticatedstorage-1.21.1-1.4.50.1235.jar

# Carry On (Server)
!carryon-neoforge-1.21.1-2.2.2.11.jar

# Create (Server)
!create-1.21.1-6.0.6.jar

# Create: Enchantment Industry (Server)
!create-enchantment-industry-2.1.7.jar
!create-dragons-plus-1.6.1.jar

# Curios API (Server)
!curios-neoforge-9.5.1+1.21.1.jar

# Just Enough Items (Server)
!jei-1.21.1-neoforge-19.22.0.315.jar

# Sodium (Client)
!sodium-neoforge-0.6.13+mc1.21.1.jar
!sodiumdynamiclights-neoforge-1.0.10-1.21.1.jar
!sodiumoptionsapi-neoforge-1.0.10-1.21.1.jar

# Easy Mob Farm (Server)
!easy_mob_farm-neoforge-1.21.1-10.0.0.jar

# Tectonic
!tectonic-3.0.12-neoforge-1.21.1.jar

# Terralith
!Terralith_1.21.x_v2.5.8.jar

########################################################
!create_jetpack-forge-5.1.0.jar
!create_rustic_structures-1.0.0-neoforge-1.21.1.jar
!create_ultimate_factory-2.1.1-neoforge-1.21.1.jar
!createnewbeg-0.1.0-1.21.1.jar
!kotlinforforge-5.9.0-all.jar
!kotlinforforge-5.9.0-all.jar
!lithostitched-neoforge-1.21.1-1.4.11.jar
!sliceanddice-neoforge-4.0.1.jar
!sophisticated_emerald_upgrade-1.0.3-NeoForge-1.21.1.jar
!yesstevemodel-neoforge-1.21-2.4.1-release.jar
!accessories-neoforge-1.1.0-beta.33+1.21.1.jar
!immersivelanterns-neoforge-1.0.6-1.21.1.jar
!owo-lib-neoforge-0.12.15.5-beta.1+1.21.jar
!txnilib-neoforge-1.0.24-1.21.1.jar

!FarmersDelight-1.21.1-1.2.9.jar
!geckolib-neoforge-1.21.1-4.7.6.jar
!golemoverhaul-neoforge-1.21.1-1.0.2.jar
!resourcefulconfig-neoforge-1.21-3.0.11.jar
!resourcefullib-neoforge-1.21-3.0.12.jar
!uncrafteverything-1.7.0-1.21.1-neoforge.jar

!SimplyTools-21.1.3.jar
!LibX-1.21.1-6.0.6.jar

!collective-1.21.1-8.3.jar
!treeharvester-1.21.1-9.1.jar

!copycats-3.0.2+mc.1.21.1-neoforge.jar
!Design-n-Decor-1.21.1-2.1.0.jar

!valhelsia_core-neoforge-1.21.1-1.1.4.jar
!valhelsia_furniture-neoforge-1.21.1-1.1.1.jar
!valhelsia_structures-neoforge-1.21.1-1.1.2.jar
